* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Homepage-container */
.container-fluid-homepage {
	background-color: rgba(240, 240, 240, 1);
}

.homepage-container {
	height: 100vh;
	/* padding: 2% 15%; */
}

.inside-homepage {
	display: flex;
	flex-direction: row;
}

.left-section {
	margin-right: 25px;
}
.home-photo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.right-section {
	width: 50%;
	display: flex;
	flex-direction: column;
}

form {
	border: 2px solid rgba(107, 114, 128, 0.4);
	text-align: center;
	color: black;
	background-color: rgba(255, 255, 255, 1);
}

.right-h1 {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(209, 213, 219, 0.5);
	margin-left: 10%;
	width: 80%;
	margin-bottom: 1.5rem;
}

.right-div {
	padding-right: 10%;
	padding-left: 10%;
	text-align: left;
}

.btn-submit {
	width: 80%;
	margin-top: 0.7rem;
	margin-bottom: 1.5rem;
}

.btn-left {
	margin-right: 1rem;
}

.btn-left,
.btn-right {
	margin-bottom: 1rem;
}

.form-top {
	height: auto;
}

.form-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.form-bottom {
	padding: 10px;
}
.form-bottom p {
	margin-right: 1rem;
	margin-bottom: 0;
}

.form-bottom a {
	font-weight: 600;
	color: #0d6efd;
	text-decoration: none;
}

.footer-homepage {
	display: flex;
	flex-direction: row;
}

.footer-homepage p {
	margin-right: 1rem;
	margin-left: 1rem;
	font-size: small;
}

.button-group {
	padding-right: 10%;
	padding-left: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.homepage-container {
		min-height: 100vh;
		padding-top: 8%;
		padding-bottom: 5%;
		padding-right: 20%;
		padding-left: 20%;
	}
	.home-photo {
		width: 100%;
		height: 84.5%;
	}
	.form-top {
		height: 75%;
	}
}

/* registerpage-container */
.container-fluid-homepage {
	background-color: rgba(240, 240, 240, 1);
}
.inside-registerPage {
}

.register-photo {
	width: 100%;
	height: 100%;
}

.img-preview-container {
	width: 100%;
	height: 100%;
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-preview {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	/* padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem; */
}

@media screen and (min-width: 768px) {
	.inside-registerPage {
		padding: 5% 20%;
	}
	.register-photo {
		width: 100%;
		height: 62%;
	}
}

/* Logic page */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
	--header-height: 3rem;
	--nav-width: 68px;
	--first-color: #1a53ff;
	--first-color-light: #afa5d9;
	--white-color: #f7f6fb;
	--body-font: "Nunito", sans-serif;
	--normal-font-size: 1rem;
	--z-fixed: 100;
}
.body {
	position: relative;
	margin: var(--header-height) 0 0 0;
	padding: 0 0rem;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	transition: 0.5s;
}
a {
	text-decoration: none;
}
.header {
	width: 100%;
	height: var(--header-height);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	background-color: var(--white-color);
	z-index: var(--z-fixed);
	transition: 0.5s;
}
.header_toggle {
	color: var(--first-color);
	font-size: 1.5rem;
	cursor: pointer;
}
.header_img {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
}
.header_img img {
	width: 40px;
}
.l-navbar {
	position: fixed;
	top: 0;
	left: -30%;
	width: var(--nav-width);
	height: 100vh;
	background-color: var(--first-color);
	padding: 0.5rem 1rem 0 0;
	transition: 0.5s;
	z-index: var(--z-fixed);
}
.nav {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}
.nav_logo,
.nav_link {
	display: grid;
	grid-template-columns: max-content max-content;
	align-items: center;
	column-gap: 1rem;
	padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
	margin-bottom: 2rem;
}
.nav_logo-icon {
	font-size: 1.25rem;
	color: var(--white-color);
}
.nav_logo-name {
	color: var(--white-color);
	font-weight: 700;
}
.nav_link {
	position: relative;
	color: var(--first-color-light);
	margin-bottom: 1.5rem;
	transition: 0.3s;
}
.nav_link:hover {
	color: var(--white-color);
}
.nav_icon {
	font-size: 1.25rem;
}
.show {
	left: 0;
}
.body-pd {
	/* padding-left: calc(var(--nav-width) + 1rem); */
	padding-left: calc(var(--nav-width));
}
.active {
	color: var(--white-color);
}
.active::before {
	content: "";
	position: absolute;
	left: 0;
	width: 2px;
	height: 32px;
	background-color: var(--white-color);
}
.height-100 {
	height: 100vh;
}
@media screen and (min-width: 768px) {
	.body {
		margin: calc(var(--header-height) + 1rem) 0 0 0;
		padding-left: calc(var(--nav-width) + 2rem);
	}
	.header {
		height: calc(var(--header-height) + 1rem);
		padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
	}
	.header_img {
		width: 40px;
		height: 40px;
	}
	.header_img img {
		width: 45px;
	}
	.l-navbar {
		left: 0;
		padding: 1rem 1rem 0 0;
	}
	.show {
		width: calc(var(--nav-width) + 156px);
	}
	.body-pd {
		padding-left: calc(var(--nav-width) + 188px);
	}
}

/* HomePage */
.main-container {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	min-height: 100vh;
}

.img-home {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.name-home {
	margin-bottom: 0.5rem;
}

.header-img {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}
.header-img img {
	width: 40px;
}

.col-8-flex {
	align-items: center;
	justify-content: start;
}

/* user Page */
.user-container {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	min-height: 100vh;
}

.header-user-img {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	align-items: center;
	text-align: center;
}
.header-top {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-bottom {
	text-align: center;
}

.header-user-img img {
	width: 200px;
}

.btn-user {
	padding: 1px 6px;
	height: 40px;
	margin-top: 13px;
	margin-right: 4px;
	margin-left: 1rem;
}

.name-user {
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

.user-image {
	width: 280px;
	height: 280px;
}

.bot-user-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.user-container {
		padding-right: 15%;
		padding-left: 15%;
		min-height: 100vh;
	}
	.header-bottom {
		text-align: left;
	}

	.user-image {
		width: 280px;
		height: 280px;
	}
}

/* Post Container */
.post-container {
	min-height: 100vh;
}

.post-image {
	width: 100%;
	height: 600px;
}

.textarea-post {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	appearance: none;
	border-radius: 0.375rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (min-width: 768px) {
	.post-container {
		padding-right: 15%;
		padding-left: 15%;
		padding-top: 5%;
	}
	.header-bottom {
		text-align: left;
	}

	.user-image {
		width: 280px;
		height: 280px;
	}
}

/* Log out page design  */
.logout-container {
}

.container-fluid-logout {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: lightgray;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.door-closed-icon {
	width: 10rem;
	height: 10rem;
}
.container-fluid-logout h2 {
	margin-top: 2rem;
	font-size: 20px;
	text-align: center;
	font-weight: 100;
}

@media screen and (min-width: 768px) {
	.container-fluid-logout {
		border-radius: 10%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: lightgray;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	}
	.logout-container {
		padding-right: 35%;
		padding-left: 35%;
		padding-top: 5%;
		padding-bottom: 10%;
	}
	.header-bottom {
		text-align: left;
	}

	.user-image {
		width: 280px;
		height: 280px;
	}
}

/* Next register page  */

/* .nextRegisterPage {
	height: 100vh;
} */

/* .container-registerPage {
	margin-right: 35%;
	margin-left: 35%;
	margin-top: 10%;
	margin-bottom: 5%;
}

.form-container {
	width: 100%;
	height: 100%;
}

.form-next-register {
	border: none;
	background-color: lightgray;
	text-align: center;
	color: black;
	padding: 40px;
	border-radius: 10%;
	font-size: 20px;
} */
